services:
  - type: worker
    name: waifu-husbando-catcher
    runtime: python
    plan: free
    branch: main

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: |
      python3 -m shivu

    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
